<!DOCTYPE html>
<html>
  <head>
    <title>ImmigrationHeatmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <script src="../../../node_modules/heatmap.js/plugins/gmaps-heatmap/gmaps-heatmap.js"></script>
    <script src="../../../node_modules/heatmap.js/build/heatmap.js"></script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= yield %>


  </body>
</html>
